* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.cardItem {
  text-align: center;
}

.setGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.noListStyle {
  list-style-type: none;
  padding: 0;
}

.setItem {
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 0.5px solid #ddd;
  padding: 5px;
  border-radius: 3px;
}

.setLogo {
  max-width: 100%;
  max-height: 100%;
}

.grid {
  display: grid;
  gap: 1px;
  margin: 0 auto;
}

.cell {
  background: #ddd;
}
